/********** HTML Tag Selectors **********/

/* Title */
h1 {
    font-family: "Montserrat", serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/********** Title Section **********/

#title {
    background-color: #ff4c68;
}

/* Responsive Fluid Container enclosing all Title Section */
.container-fluid {
    padding: 3% 15%;
}