# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\razva.DESKTOP-U3HOK8Q\Documents\MEGAsync SSD\Coding Projects\Angela Yu Course\Projects\3. HTML_CSS_Bootstrap4 - TinDog Website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
